# Ejemplo de ejecución de python en PBI

## Simulamos contenido cargado e pbi

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text

# Configura los parámetros de conexión
conn_string = 'postgresql+psycopg2://usuario:contraseña@localhost:5432/nombre_basedatos'
engine = create_engine(conn_string)

# Consulta SQL para traer los datos
query = "SELECT * FROM sales;"

# Cargar los datos en un DataFrame
dataset = pd.read_sql(query, engine)
# OLD py versions
# df = pd.DataFrame(engine.connect().execute(text(query)))

## Script para python

In [ ]:
# Importar librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configurar estilo
sns.set(style='whitegrid')

# Cargar los datos limpios del análisis anterior
df = dataset

# Eliminar columnas vacias
df.dropna(inplace=True)

# Convertir fechas al tipo datetime
df['orderdate'] = pd.to_datetime(df['orderdate'])
df['shippeddate'] = pd.to_datetime(df['shippeddate'])
df['requireddate'] = pd.to_datetime(df['requireddate'])

# Rellenar valores faltantes en sales_amount usando quantityOrdered y priceEach
df['sales_amount'] = df['sales_amount'].fillna(df['quantityordered'] * df['priceeach'])

# Rellenar comentarios vacíos
df['comments'] = df['comments'].fillna("Sin comentarios")


# Eliminar outliers extremos (ajustar según contexto)
df = df[df['priceeach'] <= 10000]
df = df[df['quantityordered'] <= 1000]


# Calcular días entre orden y envío (si ya fue enviado)
df['days_to_ship'] = (df['shippeddate'] - df['orderdate']).dt.days

# Calcular días entre orden y fecha requerida
df['days_required'] = (df['requireddate'] - df['orderdate']).dt.days

## df resultante

In [3]:
df

,ordernumber,orderlinenumber,orderdate,shippeddate,requireddate,customernumber,employeenumber,productcode,status,comments,quantityordered,priceeach,sales_amount,days_to_ship,days_required
0,10100,1,2003-01-06,2003-01-10,2003-01-13,363,1216,S24_3969,Shipped,Sin comentarios,49,35.29,1729.21,4.0,7
1,10100,2,2003-01-06,2003-01-10,2003-01-13,363,1216,S18_2248,Shipped,Sin comentarios,50,55.09,2754.50,4.0,7
2,10100,3,2003-01-06,2003-01-10,2003-01-13,363,1216,S18_1749,Shipped,Sin comentarios,30,136.00,4080.00,4.0,7
3,10100,4,2003-01-06,2003-01-10,2003-01-13,363,1216,S18_4409,Shipped,Sin comentarios,22,75.46,1660.12,4.0,7
4,10101,1,2003-01-09,2003-01-11,2003-01-18,128,1504,S18_2795,Shipped,Check on availability.,26,167.06,4343.56,2.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2854,10425,9,2005-05-31,NaT,2005-06-07,119,1370,S24_2300,In Process,Sin comentarios,49,127.79,6261.71,NaN,7
2855,10425,10,2005-05-31,NaT,2005-06-07,119,1370,S18_2432,In Process,Sin comentarios,19,48.62,923.78,NaN,7
2856,10425,11,2005-05-31,NaT,2005-06-07,119,1370,S32_1268,In Process,Sin comentarios,41,83.79,3435.39,NaN,7
2857,10425,12,2005-05-31,NaT,2005-06-07,119,1370,S10_4962,In Process,Sin comentarios,38,131.49,4996.62,NaN,7
2858,10425,13,2005-05-31,NaT,2005-06-07,119,1370,S18_4600,In Process,Sin comentarios,38,107.76,4094.88,NaN,7